.Menu {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  width: 70%;
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.Menu .config-modal {
  background: #101015;
  padding: 2rem;
  width: 100%;
  border-radius: 12px;
}

.Menu .config-modal header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.Menu .config-modal header h2 {
  font-size: var(--title-size);
}

.Menu .config-modal header button {
  background: #000;
  border-radius: .75rem;
  color: #fff;
  font-size: var(--tiny-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .25rem;
  cursor: pointer;
  font-weight: bold;
}

.Menu .config-modal .categories-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85%;
}

.Menu .config-modal .categories-buttons .category-button {
  padding: .25rem;
  font-size: var(--button-size);
  width: 6.5rem;
  height: 2.25rem;
  margin: 0 1rem 1rem 0;
  border-radius: .5rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.Menu .config-modal .categories-buttons .Person {
  background: #058;
}

.Menu .config-modal .categories-buttons .Pets {
  background: #940;
}

.Menu .config-modal .categories-buttons .Weather {
  background: #d9d9d9;
  color: #000;
}

.Menu .config-modal .categories-buttons .Account {
  background: #591;
}

.Menu .config-modal .categories-buttons .Profile {
  background: #949;
}

.Menu .config-modal .categories-buttons .Bank {
  background: -webkit-gradient(linear, left top, right top, from(#6FFFBA), to(#5287E9));
  background: linear-gradient(90deg, #6FFFBA 0%, #5287E9 100%);
}

.Menu .config-modal .categories-buttons .Login {
  background: -webkit-gradient(linear, left top, right top, from(#7F7FD5), to(#86A8E7));
  background: linear-gradient(90deg, #7F7FD5 0%, #86A8E7 100%);
}

.Menu .config-modal .categories-buttons .Register {
  background: -webkit-gradient(linear, left top, right top, from(#7F7FD5), to(#86A8E7));
  background: linear-gradient(90deg, #7F7FD5 0%, #86A8E7 100%);
}

.Menu .config-modal .API-input {
  padding: 1rem;
  width: 100%;
  border-radius: .75rem;
  border: none;
  outline: none;
  font-size: var(--button-size);
}

.Menu .config-modal .apply-button {
  display: block;
  text-align: right;
  padding: 1.5rem 0 0;
}

.Menu .config-modal .apply-button .apply-button-API {
  padding: .5rem 2rem;
  width: 10rem;
  height: 2.5rem;
  font-size: var(--button-size);
  border-radius: .75rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  background: #023;
  color: #fff;
}

.Menu .config-modal .actual-config li {
  margin-bottom: calc(.5rem + 1vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Menu .config-modal .actual-config li .status {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-inline: .5rem 0;
}

.Menu .config-modal .actual-config li .ok {
  background: #0f0;
}

.Menu .config-modal .actual-config li .error {
  background: #f00;
}

.Menu .config-modal .reactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Menu .config-modal .reactions .reaction {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #181823;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
}

.Menu .config-modal .reactions .reaction img {
  height: 3rem;
}

.Menu .config-modal .reactions .reaction-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.Menu .config-modal .reactions .reaction-overlay img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=index.css.map */