.Menu {
    grid-row: 2 / 4;
    grid-column: 1 / 2;

    width: 70%;
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .config-modal {
        background: #101015;
        padding: 2rem;
        width: 100%;
        border-radius: 12px;

        header {
            display:flex;
            justify-content: space-between;
            margin-bottom:1.5rem;

            h2 {
                font-size:var(--title-size);
            }

            button {
                background: #000;
                border-radius: .75rem;
                color:#fff;
                font-size:var(--tiny-size);
                display:flex;
                align-items:center;
                padding:0 .25rem;
                cursor:pointer;
                font-weight:bold;
            }
        }

        .categories-buttons {
            display:flex;
            flex-wrap: wrap;
            width:85%;
            
            .category-button {
                padding:.25rem;
                font-size:var(--button-size);
                width:6.5rem;
                height:2.25rem;
                margin: 0 1rem 1rem 0;
                border-radius:.5rem;
                outline:none;
                border:none;
                cursor:pointer;
                color: #fff;
                font-weight:bold;
            }

            .Person {
                background: #058;
            }

            .Pets {
                background: #940;
            }

            .Weather {
                background: #d9d9d9;
                color: #000;
            }

            .Account {
                background: #591;
            }

            .Profile {
                background: #949;
            }

            .Bank {
                background: linear-gradient(90deg, #6FFFBA 0%, #5287E9 100%);
            }

            .Login {
                background: linear-gradient(90deg, #7F7FD5 0%, #86A8E7 100%);
            }

            .Register {
                background: linear-gradient(90deg, #7F7FD5 0%, #86A8E7 100%);
            }
        }


        .API-input {
            padding:1rem;
            width:100%;
            border-radius:.75rem;
            border:none;
            outline:none;
            font-size:var(--button-size);
        }

        .apply-button {
            display:block;
            text-align:right;
            padding:1.5rem 0 0;

            .apply-button-API {
                padding:.5rem 2rem;
                width:10rem;
                height: 2.5rem;
                font-size:var(--button-size);
                border-radius: .75rem;
                font-weight:bold;
                cursor:pointer;
                border:none;
                outline:none;
                background: #023;
                color: #fff;
            }
        }

        .actual-config {
            li {
                margin-bottom: calc(.5rem + 1vh);
                display:flex;
                align-items: center;

                .status {
                    height:1rem;
                    width:1rem;
                    border-radius:50%;
                    display:inline-block;
                    margin-inline: .5rem 0;
                }

                .ok {
                    background: #0f0;
                }

                .error {
                    background: #f00;
                }
            }
        }

        .reactions {
            display:flex;
            justify-content: space-evenly;
            align-items: center;

            .reaction {
                width:4rem;
                height:4rem;
                border-radius:50%;
                background: #181823;
                cursor:pointer;
                display:flex;
                justify-content: center;
                align-items: center;
                border:none;
                outline:none;

                img {
                    height:3rem;
                }
            }

            .reaction-overlay {
                position:fixed;
                top:0;
                left:0;
                width:100vw;
                height:100vh;

                img {
                    width:100%;
                    height:100%;
                }
            }
        }
    }
}